<header class="page_header header_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- main nav start -->
                <nav class="mainmenu_wrapper">
                    <ul class="mainmenu nav sf-menu">
                        <!-- home -->
                        <li class="active"> <a href="/">Home</a></li>
                        <!-- shop -->
                        <li> <a href="/shop">Shop</a></li>
                        <!-- exchange -->
                        <li> <a href="exchange.html">Exchange</a> </li>
                        <!-- blog -->
                        <li> <a href="blog-right.html">Blog</a></li>
                        <!-- support -->
                        <li> <a href="#">Support</a></li>
                        <!-- contacts -->
                        <li> <a href="/contacts">Contacts</a></li>
                    </ul>
                </nav>
                <!-- eof main nav -->
            </div>
        </div>
    </div>
</header>