<html>
<head>
    <script src="js/cryptobox.js" type="text/javascript"></script>
</head>
<body>
<div align="center" style="min-width:530px">
    <iframe id="box1913" style="border-radius:15px;border:1px solid #eee;padding:3px 6px;margin:10px;" scrolling="no"
            marginheight="0" marginwidth="0" frameborder="0" width="530" height="230"></iframe>
</div>
<script type="text/javascript"> <!-- Amount $5.50 -->
cryptobox_show(
    1514,
    'bitcoin',
    '1514AAf8QICBitcoin77BTCPUB7XBxPbmc4uK79CCWHEB5DAmY',
    0,
    5.5,
    '60 MINUTE',
    'en',
    'box1913',
    'user4',
    'MANUAL',
    'product1',
    '',
    '',
    'f2cea21af212b8a60a1620bc46ea8f79',
    530,
    230
);
</script>
</body>
</html>